<!DOCTYPE HTML>
<head>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0" />
	<title>Success</title>
	<style>
		body {
			font-size: 18px;
		}
		
		input, button {
			font-size: 100%;
		}
		
		label, input {
			margin: 0.5em 0;
			display: block;
		}
		
		button {
			margin-top: 1em;
		}
	</style>
</head>

<h3 style="color: green">Grant Success!</h3>
<p>
	Your IP(<%= request.ip %>) will allow in the next 12 hours.
</p>