development:
  adapter: postgresql
  encoding: unicode
  host: dockerhost
  database: prelude_client_development
  pool: 5
  username: postgres
  password: postgres

test:
  adapter: postgresql
  encoding: unicode
  host: dockerhost
  database: prelude_client_test
  pool: 5
  username: postgres
  password: postgres
