# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: eaab8594475e5468a0c2e6db1f78ac09cedc557a40dc68a7dedfc1f0a5524ba9f72c72b061bd21eb50d1c203068f02806b7abbf150b79ca782566a6fb25715a8

test:
  secret_key_base: 65a525bf626c4f9a627bd90bef03577ebfbd74686dd965d604aca0109f3062fdac04ecab005d5ad64da7f7fa0f89c39bc50859a29eb990bec1bbf8a847e158f4

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
